#navigation {
    
}

    #navigation div {
        display: inline-block;
        width: 150px;
        height: 135px;
        border: 1px solid black;
        box-shadow: #acacac 2px 2px 5px;
        text-align: center;
    }

        #navigation div p {
            padding-top: 90px;
            font-size: 1.3em;
        }

    #navigation #nav-main {
        background-image: url(ms-appx:///images/main.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #navigation #nav-history {
        background-image: url(ms-appx:///images/history.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #navigation #nav-geography {
        background-image: url(ms-appx:///images/geography.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #navigation #nav-politics {
        background-image: url(ms-appx:///images/politics.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #navigation #nav-economy {
        background-image: url(ms-appx:///images/economy.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #navigation #nav-demographics {
        background-image: url(ms-appx:///images/demographics.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #navigation #nav-culture {
        background-image: url(ms-appx:///images/culture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }